# Server configuration
API_PORT=8080
API_URL=http://localhost:8080

# JWT configuration
JWT_SECRET=your_jwt_secret_here

# MongoDB connection string (replace <USERNAME>, <PASSWORD>, and <DB_NAME>)
MONGO_DB_CONNECTION_STRING=mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.mongodb.net/<DB_NAME>?retryWrites=true&w=majority&appName=Cluster0

# Admin user configuration
ADMIN_PASSWORD=your_admin_password_here

# Token expiration times
ACCESS_TOKEN_EXPIRY=2h
REFRESH_TOKEN_EXPIRY=7d

# Email credentials for sending emails (replace with actual credentials)
API_EMAIL_USER=your_email@example.com
API_EMAIL_PASS=your_email_password

# URL configurations for password reset and account activation
RESET_URL=https://your-app-url/reset-password
ACTIVATION_URL=https://your-app-url/activate
ACTIVATION_TOKEN_EXPIRY=1d